@charset "UTF-8";
/* CSS Document */

/*desktop and mobile nav CSS*/
.navbar-toggler {
	border: 0;
	margin-right: 10px;
}

.navbar-toggler:focus {
	visibility: hidden;
}
nav {
	color: white;
	font-size: 10pt;
	letter-spacing: 2px;
	font-weight: 300;
	background-color: #ffa66f;
	width: 100%;
}

.nav-span {
	color: white;
	font-size: 10pt;
	letter-spacing: 2px;
	font-weight: 300;
	padding-left: 10px;
}

/* nav bar styling methods from https://www.w3schools.com/css/css_navbar_horizontal.asp*/
.nav-items {
	list-style-type: none;
	padding-top: 12px;
	float: right;
}

ul {
	float: right;
}

li {
	display: inline;
	text-decoration: none;
	color: white;
	
}

nav ul, nav p {
	padding-top: 20px;
}

nav a {
	text-decoration: none;
	padding: 10px;
	color: white;
}

nav a:visited {
	color: white;
}
/*desktop and mobile nav CSS ends*/

/*Desktop nav CSS*/
.navlogo {
	float: left;
}

#home, #portfolio, #about {
	border-right: 0.5px solid white;
}


/*Desktop nav CSS ends*/

/*Mobile nav CSS*/

@media only screen and (max-width: 991px) {
	
ul {
	list-style-type: none;
	}

li {
	display: inherit;
	text-decoration: none;
	color: white;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
#home, #portfolio, #about {
	border: none;
	}		
}
/*Mobile nav CSS end*/
