@charset "UTF-8";
/* CSS Document */

body {
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

/*desktop and mobile nav CSS*/
/*
nav {
	font-size: 10pt;
	letter-spacing: 2px;
	font-weight: 300;
	background-color: #ffa66f;
	width: 100%;
	overflow: hidden;
}

/* nav bar styling methods from https://www.w3schools.com/css/css_navbar_horizontal.asp*/
/*
ul {
	list-style-type: none;
	padding-top: 12px;
	float: right;
}

li {
	display: inline;
	text-decoration: none;
	color: white;
	
}

a {
	text-decoration: none;
	padding: 10px;
	color: white;
}

a:visited {
	color: white;
}
/*desktop and mobile nav CSS ends*/

/*Desktop nav CSS*/
/*
.navlogo {
	float: left;
}

#navp {
	float: left;
	padding-top: 12px;
}

#home, #portfolio, #about {
	border-right: 0.5px solid white;
}
*/
/*Desktop nav CSS ends*/

/*Mobile nav CSS*/
/*
.navlogomob {
	float: left;
}

.navhover:hover {
	background-color: #e97730;
}

#navpmob {
	float: left;
	padding-top: 12px;
}

i {
	float: right;
	margin: 15px;
}

@media only screen and (max-width: 600px) {
	#mobnav {
		display: block;
	}
	#desknav {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	ul {
		list-style-type: none;
		margin-top: 45px;
		float: right; 
		text-align: right;
		display: none;
		margin-right: -50px;
		
	}
	
	#mobmenicon:hover > ul {
		display: block;
	}
}
*/
/*Mobile nav CSS ends*/

/*Index CSS - image, name, socials*/
#helloworld {
	height: 100%;
	width: 100%;
}

/* To float text div over image: https://stackoverflow.com/questions/18339549/floating-div-over-an-image*/
.indexcontain {
    width: 100%;
	position: relative;
}

/*Media query syntax: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media only screen and (max-width: 600px) {
	.indexcontain {
		margin-top: 100px;
	}
}
/* To centre the text over the image: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/*/
.textoverlay {
	width: 250px;
    position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	text-align: center;
}

#myname {
	font-weight: 200;
	font-size: 150%;
	letter-spacing: 2px;
	padding: 5px;
	margin: 0;
}

#fed {
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 80%;
	padding: 5px;
	margin: 0;
}

.socials {
	padding-top: 5px;
}

.sociallogos {
	padding: 5px;
}

#linkedin {
	width: 10%;
}

#github {
	width: 10%;
}
#instagram {
	width: 10%;
}

#facebook {
	width: 10%;
}
/*Index CSS - image, name, socials ends*/
