@charset "UTF-8";
/* CSS Document */

body {
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

header {
	height: 60px;
}

nav {
	font-size: 10pt;
	letter-spacing: 2px;
	font-weight: 300;
	background-color: #ffa66f;
	width: 100%;
	overflow: hidden;
}

.navlogo {
	float: left;
}

.navlogomob {
	float: left;
}

.navhover:hover {
	background-color: #e97730;
}

#navp {
	float: left;
	padding-top: 12px;
}

#navpmob {
	float: left;
	padding-top: 12px;
}

#mobnav {
	display: none;
}

/*mobile nav hamburger code & styling: https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci*/
.hamburger {
	float: right;
	padding-top: 12px;
	padding-right: 5px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e97730;
}

.barmid {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e97730;
}

@media only screen and (max-width: 600px) {
	#mobnav {
		display: block;
	}
	#desknav {
		display: none;
	}
}



#helloworld {
	height: 100%;
	width: 100%;
}

/* To float text div over image: https://stackoverflow.com/questions/18339549/floating-div-over-an-image*/
.indexcontain {
    width: 100%;
	position: relative;
}

/*Media query syntax: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media only screen and (max-width: 600px) {
	.indexcontain {
		margin-top: 100px;
	}
}
/* To centre the text over the image: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/*/
.textoverlay {
	width: 250px;
    position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	text-align: center;
}

ul {
	list-style-type: none;
	padding-top: 12px;
	float: right;
}

@media only screen and (max-width: 600px) {
	ul {
		list-style-type: none;
		margin-top: 45px;
		float: right; 
		text-align: right;
		
	}
}
/* nav bar styling methods from https://www.w3schools.com/css/css_navbar_horizontal.asp*/
li {
	display: inline;
	text-decoration: none;
	color: white;
	
}

a {
	text-decoration: none;
	padding: 10px;
	color: white;
}

#home, #portfolio, #about {
	border-right: 0.5px solid white;
}

a:visited {
	color: white;
}

#myname {
	font-weight: 200;
	font-size: 150%;
	letter-spacing: 2px;
	padding: 5px;
	margin: 0;
}

#fed {
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 80%;
	padding: 5px;
	margin: 0;
}

.socials {
	padding-top: 5px;
}

.sociallogos {
	padding: 5px;
}

#linkedin {
	width: 10%;
}

#github {
	width: 10%;
}
#instagram {
	width: 10%;
}

#facebook {
	width: 10%;
}