@charset "UTF-8";
/* CSS Document */

/*body {
	background-color: #FFA66F;
}
*/
nav {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #ffa66f;
	width: 100%;
	overflow: hidden;
}

#hpbackground {
	background-color: #FFA66F;
}

#helloworld {
	height: 100%;
	width: 100%;
}

ul {
	list-style-type: none;
	padding: 0px;
	float: right;
}
/* nav bar styling methods from https://www.w3schools.com/css/css_navbar_horizontal.asp*/
li {
	display: inline;
	text-decoration: none;
	color: white;
	
}

a {
	text-decoration: none;
	padding: 10px;
}

#home, #about {
	border-right: 2px solid white;
}

a:visited {
	color: white;
}